<!doctype html>
<html lang="en">
{% include "../includes/head.html" %}
<body>
    {% include "../includes/nav.html" %}
    <div class="container">
        <div id="main" class="row">
            <div class="span2 sidebar-nav">
                <ul class="nav nav-list well">
                    <li class="nav-header">Models</li>
                {% for item in menu %}
                    <li class="list-group-item {% if item == path %}active{% endif %}">
                        <a href="{{ base }}/{{ item }}">
                            {{ capitalizeFirstLetter(item) }}
                        </a>
                    </li>
                {% endfor %}
                </ul>

                {% block filters %}
                {% endblock %}
            </div>
            <div class="span10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include "../includes/end.html" %}
</body>
</html>