* {
    font-family: helvetica, arial;
    font-size: 1em;
    color: #555;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

body {
    background: #fcfcfc;
}

#main {
  margin-top: 60px!important;
}