{% extends "layouts/default.html" %}

{% block content %}

{% if doc.isNew %}
    {% set action = base + "/" + path %}
    {% set id = "" %}
{% else %}
    {% set action = base + "/" + path + "/" + doc._id %}
    {% set id = doc._id %}
{% endif %}

<h2>{% if id %}Edit {{ meta.model }}{% else %}New {{ meta.model }}{% endif %}</h2>
<hr>
<div id="form">
    <form action="{{ action }}" class="form-horizontal" method="post" role="form" autocomplete="off">
        {% for f in edit %}
            <div class="control-group">
                {% set type = fields[f]['widget'] || "text" %}
                {% set header = fields[f]['header'] || f %}
                {% set name = fields[f]['name'] || f %}
                {% set multiple = fields[f]['multiple'] %}
                <label for="{{ f }}" class="control-label">
                    {{ header }}:
                </label>
                <div class="controls">
                    {{ mapData(doc, f, '.') }}
                    {% if type == "select" %}
                        <select name="{{ mapName(f, '.') }}" id="{{ mapName(f, '.') }}" {% if multiple %}multiple{% endif %}>
                            {% set values = fields[f]['values'] %}
                            {% for v in values %}
                                {% set sel = doc[f] %}
                                {% if fields[f]['ref'] %}
                                <option value="{{ v.value }}" {% if exists(v.value, sel) %}selected{% endif %}>{{ v.display }}</option>
                                {% else %}
                                <option value="{{ v }}" {% if v == sel %}selected{% endif %}>{{ v }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% elseif type == "csv" %}
                        <ul class="tagit" data-field-name="{{ mapName(f, '.') }}" id="{{ mapName(f, '.') }}" data-placeholder-text="{{ fields[f].placeholder|default("") }}" data-pattern="{{ fields[f].pattern|default("") }}">
                            {% for v in doc[f] %} <li>{{ v }}</li> {% endfor %} <li></li>
                        </ul>
                    {% elseif type == "textarea" %}
                        <textarea class="form-control" id="{{ mapName(f, ',') }}" name="{{ mapName(f, ',') }}">{{ doc[f] || "" }}</textarea>
                    {% else %}
                        {% if type == "checkbox" %}
                            <input type="hidden" name="{{ mapName(f, '.') }}" value="{% if doc[f] %}true{% else %}false{% endif %}">
                            <input type="{{ type }}" id="{{ mapName(f, '.') }}" class="form-control" placeholder="Type {{ header }}" autocomplete="off" value="{{ doc[f] || "" }}" {% if doc[f] %}checked{% endif %}>
                        {% else %}
                            <input type="{{ type }}" id="{{ mapName(f, '.') }}" class="form-control" name="{{ mapName(f, '.') }}" placeholder="Type {{ header }}" autocomplete="off" value="{{ doc[f] || "" }}">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-actions">
            <button class="btn" type="button" onclick="history.back();">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
    
{% endblock %}
