{% extends "layouts/default.html" %}

{% block content %}
<div id="list">
    <div id="list-top">
        <h2>{{ title }}</h2>
        <div id="new">
          <a href="{{ base }}/{{ path }}/new" class="btn btn-primary" role="button">+ New</a>
        </div>
      </div>
      <hr>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th></th>
            {% for f in list %}
              {% if (fields[f] && fields[f].header) %}
                <th>{{ fields[f].header }}</th>
              {% else %}
                <th>{{ f }}</th>
              {% endif %}
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        {% set first = page - 1 %}
        {% set index = first * perPage %}
        <tbody>
          {% for d in data %}
          {% set index = index + 1 %}
            <tr>
              <td><a href="{{ base }}/{{ path }}/{{ d.id }}">{{ index }}</a></td>
              {% for f in list %}
              <td>
                <a href="{{ base }}/{{ path }}/{{ d.id }}">{{ d[f] || "" }}</a>
              </td>
              {% endfor %}
              <td>
                    <a href="{{ base }}/{{ path }}/{{ d.id }}/edit" class="btn btn-edit">Edit</a>
                    <a href="{{ base }}/{{ path }}/{{ d.id }}/delete" class="btn btn-danger" onclick="preventDelete">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <table width="50%" style="border-bottom: 0;">
        <tr>
            {% if page > 1 %}
            <td width="25%"><a href="{{ base }}/{{ path }}?page=1&perpage={{ perPage }}">First</a></td>
            <td width="25%"><a href="{{ base }}/{{ path }}?page={{ decrease(page) }}&perpage={{ perPage }}"> &lt;&lt; Previous</a></td>
            {% else %}
            <td width="25%"><span>First</span></td>
            <td width="25%"><span> &lt;&lt; Previous</span></td>
            {% endif %}
            {% if page < pages %}
            <td width="25%"><a href="{{ base }}/{{ path }}?page={{ increase(page) }}&perpage={{ perPage }}">Next &gt;&gt;</a></td>
            <td width="25%"><a href="{{ base }}/{{ path }}?page={{ pages }}&perpage={{ perPage }}">Last</a></td>
            {% else %}
            <td width="25%"><span>Next &gt;&gt;</span></td>
            <td width="25%"><span>Last</span></td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}